/* Giphy API */
#search-form {
  display: flex;
  width: 500px;
  height: 50px;
}

.container {
  /* display: flex; */
  width: 1000px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin:auto;
}

img { 
  margin:5px;
  width:200px;
  height:200px;
}

body {
  display: flex;
  /* background-color: rgb(75, 121, 207); */
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	/* background-size: 400% 400%; */
	animation: gradient 10s ease infinite;
	height: 100vh;
}
/* ------------------- */
/* Game Play Stuff */
.messageBox {
  font-size: 1.5rem;
}

.remaining-lives {
  font-size: 1.5rem;
  margin-left: 50px;
}

.img.gifItem {
  margin: auto;
  display:flex;
}

.content-styling {
  display: flex;
  background-color: white;
  width: 700px;
  height: 600px;
  align-self: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 5px 5px rgb(44, 94, 174, 0.5);
}


#allGuessesMade_display {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

footer {
  font-size: x-small;
  color: rgb(227, 234, 236);
}
/* ---  Background CSS Tutorial https://manuel.pinto.dev  */


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
