.App {
  text-align: center;
}

.letter {
  border: 3px solid black;
  font-size: .5em;
  margin: 1rem;
  width: 2rem;
  padding: .5rem 1rem;
  font-weight: bold;
}

.caption {
  font-size: .4em;
  min-width: 12rem;
  text-align: start;
}

.keyEntry {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  display: flex;
  /* background-color: rgb(75, 121, 207); */
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	/* background-size: 400% 400%; */
	animation: gradient 25s ease infinite;
	height: 100vh;
}

.startScreenContent {
display: flex;
width: 20rem;
height: 3rem;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}