.App {
  text-align: center;
}

.letter {
  border: 3px solid black;
  font-size: .5em;
  margin: 1rem;
  width: 2rem;
  padding: .5rem 1rem;
  font-weight: bold;
}

.caption {
  font-size: .4em;
  min-width: 12rem;
  text-align: start;
}

.keyEntry {
  display: flex;
  align-items: center;
  justify-content: center;
}